<%- include('./partials/header.ejs') %>

<%- include('./partials/flashMessage.ejs') %>

<div class="container mx-auto my-auto card" style="width: 30rem;">
    <div class="card-title text-center h1"> Register Here </div>
    <form action="/user/register" class="mt-5 mb-5" method="POST">
        <div class="form-group">
            <input type="name" name="name" class="form-control" placeholder="Enter Your Name" value="<%= typeof name != 'undefined' ? name : '' %>" >         
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Enter Your Password" value="<%= typeof password != 'undefined' ? password : '' %>" >         
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Enter Your Email" value="<%= typeof email != 'undefined' ? email : '' %>" >         
        </div>
        <button type="submit" class="btn btn-primary btn-block"> Register </button>
    </form>
</div>

<%- include('./partials/footer.ejs') %>